p, a, h1, h2, h3, h4, h5, h6, span{
    font-family: 'Open Sans', sans-serif;
}
.wrapp_head {
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
h2 {
  margin-top: 70px;
  position: relative;
  padding-bottom: 40px;
  text-transform: uppercase;
  color: #333333;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}
h2:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -16px;
  background-color:  #ff6600;
  width: 8px;
  height: 7px;
  border-radius: 50%;
}

/*==============================================*/

header{
    margin-top:20px;
}
.slogan{
    text-align: center;
    margin:0 auto;
}
.phone-head{
    float:right;
}
.head-span{
    display:block;
}
header h2{
    font-size: 16pt;
}

.navbar{
    margin-bottom: 0px;
}
    
}
.navbar ul li a{
    
}

/*==============================================*/
.about-company {
  background: url(../img/about-bg.jpg) no-repeat left top;
  background-size: contain;
  padding-bottom: 20px;
}
.about_text p {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.about_text > p:first-child strong {
  text-transform: uppercase;
}
.about_text > p:last-child {
  padding: 20px 0 0;
}

/*==============================================*/
.testing h2, .testing {
  padding-bottom: 45px;
}

.testing h3 {
  position: relative;
  margin: 0 auto;
  width: 900px;
  text-align: center;
  text-transform: uppercase;
  color: #006699;
  font-size: 30px;
  font-weight: 700;
  background: #f6f6f6;
  z-index: 2;
}

.testing,
.info_test {
  position: relative;
  background-color:  #f6f6f6
}

.orangeBorder {
  position: absolute;
  top: 180px;
  left: calc(50% - 511px);
  left: -moz-calc(50% - 511px);
  left: -webkit-calc(50% - 511px);
  width: 1022px;
  height: 260px;
  border: 2px solid #ff6600;
}

.testing img {
  position: relative;
  padding: 57px 15px 45px;
}

.text_down,
.text_up {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  background: #f6f6f6;
}
.text_up {
  max-width: 100px;
}
.text_down {
  margin-top: 70px;
  max-width: 218px;
}

.greyBorder {
  position: absolute;
  width: 238px;
  height: 93px;
  border: 2px solid rgba(215, 215, 215, 0.5);
  top: 8px;
  left: calc(50% - 119px);
  left: -moz-calc(50% - 119px);
  left: -webkit-calc(50% - 119px);
}
.greyBorder p {
  font-size: 30px;
  font-weight: 300;
  color: #f60;
  text-align: center;
  line-height: 93px;
}


/*==========  MODALS  ==========*/
.modal {background: rgba(255,255,255, .9)}
.modal .modal-content{
    box-shadow: none;
    width: 100%;
    max-width: 570px;
    margin: auto;
    padding: 20px;
    position: relative;
}
.modal .close{
    font-weight: normal;
    font-size: 40px;
    color: #f60;
    opacity: 1;
    text-shadow: none;
    position: absolute;
    right: 20px;
    top: 15px;
}
.modal .close:hover{color: #fff}
.modal .modal-content{border-radius: 0; background-color: #006699;}
.modal-header{border: none;}
.modal .modal-body{border: none;}
.modal .modal-footer{border: none}

.modal .modal-header h4{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    max-width: 320px;
    line-height: 35px;
}
.modal .modal-header h4 span{text-transform: uppercase;}

.modal .input-group-addon{
    border: none;
    background-color: #fff;
    border-right: 1px solid #e4e4e4;
    padding: 12px 24px;
}
.modal .form-control{
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: #666666;
    height: 45px;
}

.modal .input-group{border: 1px solid #006699; border-radius: 4px;margin-bottom: 15px;}
.modal .input-group:hover{border: 1px solid #ff7100;}

.modal .garant{
    color: #99ccff;
    padding-left: 50px; 
    background: url(../img/lock.png) no-repeat  20px center;
    font-size: 14px;
}
.modal .modal-footer .btn{
    border-radius: 2px;
    background-color: #ff6600;
    outline: none;
    width: 100%;
    max-width: 269px;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 16px;
}

.modal .modal-header-iline{width: 100%; min-height: 220px;}
.modal .modal-img-head{width: 33%; display: inline-block;}
.modal .modal-img-head img{width: 100%; max-width: 163px;}
.modal .modal-txt-head{width: 66%; display: inline-block; vertical-align: middle; padding-left: 35px}
.modal .modal_popup_usluga{color: #fff; font-size: 16px; font-weight: 700}
.modal .img-name{background: rgba(255, 255, 255, 1) url(../img/name.png) no-repeat   center;}
.modal .img-phone{background: rgba(255, 255, 255, 1) url(../img/tel.png) no-repeat   center;}
.modal .img-email{background: rgba(255, 255, 255, 1) url(../img/email.png) no-repeat   center;}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    z-index: 999;
    background: rgba(255, 255, 255, .9);
}
#overlay .close{font-weight: normal;font-size: 40px;color: #f60;opacity: 1;text-shadow: none;
    position: absolute;right: 20px;top: 15px;}

#overlay .close:hover{color: #fff;}

.thanks{color: #fff;font-weight: 700; font-size: 30px}
.thanks-dn{color: #ff6600;font-weight: 700; font-size: 18px}

#overlay .modal-dialog{margin: 10% auto auto auto;}

#overlay .modal-dialog .modal-content{
    box-shadow: none;
    width: 100%;
    max-width: 570px;
    margin: auto;
    padding: 20px;
    position: relative;
    background-color: #006699;
}
/*==========  MODALS  ==========*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .orangeBorder {
	left: calc(50% - 475px);
    left: -moz-calc(50% - 475px);
    left: -webkit-calc(50% - 475px);
    width: 950px;
    height: 220px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .testing h3 {
    width: 100%;
  }
  .orangeBorder {
	display: none;
  }
  .testing img {
    margin: 0 auto;
  }
  }

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 
}